@media (min-width: 64em) {
  ///styles go here
}

//640px, 1024px, 1400px
$breakpoints-up: (
  'medium': '45em',
  'large': '64em',
);
//639px, 1024px, 1399px
$breakpoints-down: (
  'verysmall': '24rem',
  'small': '40em',
  'medium': '45em',
  'large': '64em',
);
@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin bgConfig {
  background-size: cover;
  background-position: center center;
}

.scrolling-wrapper {
  overflow-x: scroll;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: hidden;
  white-space: nowrap;
  grid-gap: 16px;
  justify-content: center;
  @include breakpoint-up(large) {
    display: grid;
  }
  @include breakpoint-up(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 750px;
    align-items: right;
  }
  @include breakpoint-down(medium) {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    width: 500px;
    margin: auto;
  }
  @include breakpoint-down(small) {
    width: 100vw;
    display: block;
    padding: 2rem;
    margin-left: -5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: block;
    height: 9px;
    border-radius: 50px;
    @include breakpoint-down(small) {
      display: none;
    }
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 50px;
    background: $color2;
    border-radius: 50px;
  }
  .card {
    display: inline-block;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 18.5rem;
    min-height: 18.5rem;
    max-width: 12.5rem;
    min-width: 12.5rem;
    margin: 0.2rem;
    padding: 0;
    &:hover .card__visual {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    &__visual {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &:hover .card__catalog1 {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    //first property
    &__catalog1 {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &:hover .card__catalog2 {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    //second property
    &__catalog2 {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &:hover .card__catalog3 {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    //third property
    &__catalog3 {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &:hover .card__catalog4 {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    //fourth property
    &__catalog4 {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &:hover .card__catalog5 {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    //fifth property
    &__catalog5 {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &:hover .card__catalog6 {
      background: url('../assests/catalog1.gif') no-repeat;
      @include bgConfig;
      transform: scale(0.9);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      height: 12rem;
    }
    //sixth property
    &__catalog6 {
      background: url('../assests/home2.jpeg') no-repeat;
      height: 17rem;
      width: 100%;
      @include bgConfig;
      position: relative;
      transition: all 0.7s ease;
    }
    &__texts {
      padding-top: -1rem;
      cursor: default;
      padding: 0rem;
      width: 100%;

      .title {
        margin: -0.1rem;
        padding-left: 1rem;
        font-size: 1rem;
        color: #57606f;
      }
      .subtitle {
        margin: -1.2rem;
        padding: 0;
        text-align: right;
        padding-left: 7.1rem;
        font-size: 0.71rem;
        color: #202020;
      }
      .price {
        margin-top: 1.2rem;
        font-size: 1.1rem;
        margin-right: 90px;
        img {
          height: 20px;
          margin-top: 3px;
          margin-right: -3px;
        }
        color: #3e3f41;
        color: black;
      }
      .address {
        text-align: left;
        font-size: 0.8rem;
        margin-right: 15px;
        color: #747d8c;
      }
      .rooms {
        text-align: right;
        margin-right: 40px;
        font-size: 0.71rem;
        color: #747d8c;
      }
      .read {
        display: flex;
        text-align: right;
        font-size: 0.71rem;
        margin-left: 16px;
        color: #747d8c;
      }
    }
    a {
      color: black;
      font-size: 0.7rem;
      padding-left: 7rem;
      margin: 1.2rem;
      cursor: pointer;
      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 0em;
        left: 0;
        right: 0;
        bottom: 0px;
        color: $color2;
      }
      &:hover {
        &::before {
          background-color: white;
        }
      }
    }
  }
}
